<ion-grid class="ion-no-margin ion-no-padding" >
  <ion-grid class="ion-no-margin content-data-14px app-background-mercurius-secondary-color" style="height: 25px;"></ion-grid>
  <ion-grid class="ion-no-margin content-data-14px" style="height: 10px;"></ion-grid>
  <ion-grid class="ion-no-margin content-data-14px app-background-mercurius-primary-color" >
    <ion-row style="margin-top: 7px 0px 35px opx;" class="ion-text-center ">
      <ion-col size="1"></ion-col>
      <ion-col size="10"  class="ion-text-center " style="width: 80%;text-align: center !important;">
        <ion-img class="ion-text-center" style="height: 140px;width: 100%;text-align: center;"  alt="StraightLines-io" src="assets/img/StraightLines-tagline.png" ></ion-img>
      </ion-col>
      <ion-col size="1"></ion-col>
    </ion-row>
</ion-grid>

<ion-grid class=" ion-text-center ion-justify-content-center" >
  <ion-row class="ion-text-center content-data-14px  ion-justify-content-center" style="padding:45px 0px 12px 0px ;">
    <ion-col size="12" class="ion-no-margin ion-no-padding ion-text-center">
      <ion-label style="font-size:16px;"></ion-label>

    </ion-col>

    </ion-row>
  <ion-grid id="button1">
    <ion-row class="ion-text-center ion-justify-content-center " >
      <ion-col size="12">

        <!-- <ion-img style="height: 200px;width: 100%;"  alt="StraightLines-io" src="assets/img/Generate Schedule Icon 3x.png" ></ion-img> -->
        <button (click)="start()" class="btn btn-default btn-circle btn-lg" >
          <!-- <ion-icon style="font-size:36px" name="calendar-outline"></ion-icon> -->
          <ion-img   alt="StraightLines-io" style="width: 100%;width: 100%;" src="assets/img/Generate Schedule Icon 3x.png" ></ion-img>
        </button>
        <ion-button class=" dashboard-button" style="width: 75%;margin-top: 6%;margin-bottom: auto;text-align: end;"
        shape="round"  (click)="start()"><b  style="text-align: end;padding-left: 25%;">Generate Schedule</b></ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid  id="button2">
    <ion-row class="ion-text-center ion-justify-content-center " >
      <ion-col size="12">
        <button type="button" (click)="bidding()" class="btn btn-default btn-circle btn-lg" >
          <!-- <mat-icon style="color: black;font-size: 36px;">gavel</mat-icon> -->
          <ion-img   alt="StraightLines-io" style="width: 100%;width: 100%;" src="assets/img/BiddingIcon3x.png" ></ion-img>
        </button>
        <ion-button class=" dashboard-button" style="width: 75%;margin-top: 6%;margin-bottom: auto;text-align: end;"
        shape="round"  (click)="bidding()"><b style="text-align: end;padding-left: 25%;">Bidding</b></ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- <ion-grid id="button3">
    <ion-row class="ion-text-center ion-justify-content-center " >
      <ion-col size="12">
        <button type="button" (click)="reports()" class="btn btn-default btn-circle btn-lg" >
          <ion-img   alt="StraightLines-io" style="width: 100%;width: 100%;" src="assets/img/Reports Icon 3x.png" ></ion-img>
        </button>
        <ion-button class=" dashboard-button" style="width: 75%;margin-top: 6%;margin-bottom: auto;text-align: end;"
        shape="round"  (click)="reports()"><b style="text-align: end;padding-left: 25%;">Reports</b></ion-button>
      </ion-col>
    </ion-row>
  </ion-grid> -->
<!-- <ion-grid style="margin-top: 10%;">
  <ion-row class="ion-text-center ion-justify-content-center">
    <ion-label class="content-data-14px"><b>Did you know?</b></ion-label>
  </ion-row>
  <ion-row class="ion-text-center ion-justify-content-center">
    <ion-label class="content-data-14px">Use swipe to edit & delete the </ion-label>
  </ion-row>
  <ion-row class="ion-text-center ion-justify-content-center">
    <ion-label class="content-data-14px">generated shift.</ion-label>
  </ion-row>
</ion-grid> -->

</ion-grid>


</ion-grid>
<ion-grid  id="footer" class="content-data-14px app-background-mercurius-primary-color" style="padding: 15px 0px 17px 0px;">
  <ion-row class="ion-text-center ion-justify-content-center">
    <ion-col size="12"  style="font-size:16px;">
      <ion-label class="content-data-14px" style="font-size:14px !important;">Bid Shifts, Vacations<b> Anytime Anywhere  </b></ion-label>
    </ion-col>
  </ion-row>
</ion-grid>
