<ion-grid class=" app-font-primary-color main">
    <!-- Select Shiftline Schedules -->
    <ion-grid  style="background-color: rgb(236, 234, 234);padding: 10px;margin:5px;height: 150px;">

        <ion-row>
          <ion-col size="7">

       <div style="float: left;"> <ion-label id="input-title" position="stacked" class="data app-font-primary-color" >Shiftlines Schedules
        </ion-label>
      </div><div *ngIf="checkForViewBidSchedule=='new'" (click)="selectShiftlineSchedule()"  style="float: left;margin-left: 5px;margin-top: 2px;padding:2px" class="app-background-mercurius-secondary-color app-font-white-color " >
        <b style="font-weight: normal;" >
          <ion-icon name="arrow-forward-circle" style="font-size: 18px;" ></ion-icon></b>
      </div>
      <div *ngIf="checkForViewBidSchedule=='view'"  style="float: left;margin-left: 5px;margin-top: 2px;padding:2px;opacity: 0.5;" class="app-background-mercurius-secondary-color app-font-white-color " >
        <b style="font-weight: normal;" >
          <ion-icon name="arrow-forward-circle" style="font-size: 18px;" ></ion-icon></b>
      </div>
        </ion-col>
        <ion-col size="5" class="text-align-right" style="padding-top: 12px auto !important;padding-bottom:12px  auto !important;">
          <ion-label style="font-weight: normal;" *ngIf="newBidSchedule!= null && newBidSchedule.shiftdefmap.length>0 ">
            <ion-icon class=" app-font-mercurius-secondary-color " style="font-size: 18px;"  name="checkmark-outline"></ion-icon>
          </ion-label>
      </ion-col>
        </ion-row>
        <ion-row style="margin-top: 10px;"  *ngIf="newBidSchedule!= null && newBidSchedule.shiftdefmap.length>0 ">
          <ion-col (click)="showShiftLineScheduleSummary()" size="12" class=" app-font-mercurius-secondary-color data ion-text-center app-border-mercurius-secondary-color app-white-background-color" >
            <ion-label   class=" app-font-mercurius-secondary-color data">Selected Schedule (<b>{{newBidSchedule.shiftdefmap.length }}</b>)</ion-label>
          </ion-col>
          <ion-col size="12"><b class="data app-font-red-color font-normal" *ngIf="check_correct_shitline_schedule==true">One of the Shiftline Schedule(s) shiftline count is not matching with the Employee count <i (click)="viewIncorrectShiftlineScheduleData()"><u>More>></u></i></b></ion-col>
      </ion-row>
    </ion-grid>










    <!-- <ion-label (click)="selectEmp()">Employee</ion-label> -->
        <!-- Select Employees -->
    <ion-grid  style="background-color: rgb(236, 234, 234);padding: 10px;margin:5px;height: 150px;">
      <ion-row>
        <ion-col size="7">

     <div style="float: left;"> <ion-label id="input-title" position="stacked" class="data app-font-primary-color" >Employees
      </ion-label>
    </div><div *ngIf="checkForViewBidSchedule=='new'" (click)="selectEmp()" style="float: left;margin-left: 5px;margin-top: 2px;padding:2px" class="app-background-mercurius-secondary-color app-font-white-color " >
      <b style="font-weight: normal;" >
        <ion-icon name="arrow-forward-circle" style="font-size: 18px;" ></ion-icon></b>
    </div>
    <div *ngIf="checkForViewBidSchedule=='view'" style="opacity:0.5;float: left;margin-left: 5px;margin-top: 2px;padding:2px" class="app-background-mercurius-secondary-color app-font-white-color " >
      <b style="font-weight: normal;" >
        <ion-icon name="arrow-forward-circle" style="font-size: 18px;" ></ion-icon></b>
    </div>
      </ion-col>
      <ion-col size="5" class="text-align-right" style="padding-top: 12px auto !important;padding-bottom:12px  auto !important;">
        <ion-label style="font-weight: normal;" *ngIf="newBidSchedule!= null && newBidSchedule.employeemap.length>0 ">
          <ion-icon class=" app-font-mercurius-secondary-color " style="font-size: 18px;"  name="checkmark-outline"></ion-icon>
        </ion-label>
    </ion-col>
      </ion-row>
        <ion-row style="margin-top: 10px;" *ngIf="newBidSchedule!= null && newBidSchedule.employeemap.length>0 ">
          <ion-col (click)="viewEmpList()" size="12" class="app-white-background-color app-font-mercurius-secondary-color data ion-text-center app-border-mercurius-secondary-color" >
            <ion-label   class=" app-font-mercurius-secondary-color data"> Employees (<b>{{newBidSchedule.employeemap.length }}</b>)</ion-label>
          </ion-col>
          <ion-col size="12" class="data" style="margin-top: 10px;" *ngIf="totalRequiredHours>0">
            <ion-label>Total Leave Accrued:<b class="font-normal" *ngIf="totalRequiredHours>0;else elseReqVacation"> {{totalRequiredHours}} Hours</b><ng-template  #elseReqVacation><b class="font-normal"> {{totalRequiredHours}} Hour</b></ng-template></ion-label>
          </ion-col>
      </ion-row>

    </ion-grid>
<!-- Vacation Slots -->
<ion-grid  style="background-color: rgb(236, 234, 234);padding: 10px;margin:5px;height: 150px;">
  <ion-row>
    <ion-col size="7">

 <div style="float: left;"> <ion-label id="input-title" position="stacked" class="data app-font-primary-color" >Vacation Slots
  </ion-label>
</div>
<div >
    <div *ngIf="checkForViewBidSchedule=='new' " (click)="checkDataForVacationSlots()" style="float: left;margin-left: 5px;margin-top: 2px;padding:2px" class="app-background-mercurius-secondary-color app-font-white-color " >
      <b style="font-weight: normal;" >
        <ion-icon name="arrow-forward-circle" style="font-size: 18px;" ></ion-icon></b>
    </div>
    <div *ngIf="checkForViewBidSchedule=='view' "  style="float: left;margin-left: 5px;margin-top: 2px;padding:2px;opacity:0.5" class="app-background-mercurius-secondary-color app-font-white-color " >
      <b style="font-weight: normal;" >
        <ion-icon name="arrow-forward-circle" style="font-size: 18px;" ></ion-icon></b>
    </div>
</div>
<!-- <ng-template #elseVacationBLock>
  <div  style="float: left;margin-left: 5px;margin-top: 2px;padding:2px;opacity:0.5" class="app-background-mercurius-secondary-color app-font-white-color " >
    <b style="font-weight: normal;" >
      <ion-icon name="arrow-forward-circle" style="font-size: 18px;" ></ion-icon></b>
  </div>
</ng-template> -->
  </ion-col>
  <ion-col size="5" class="text-align-right" style="padding-top: 12px auto !important;padding-bottom:12px  auto !important;">
    <ion-label style="font-weight: normal;" *ngIf="newBidSchedule!= null ">
      <ion-icon *ngIf="newBidSchedule.leavemap.length>0 " class=" app-font-mercurius-secondary-color " style="font-size: 18px;"  name="checkmark-outline"></ion-icon>
    </ion-label>
</ion-col>
  </ion-row>
  <ion-row style="margin-top: 10px;" *ngIf="newBidSchedule!= null  ">
    <ion-col *ngIf=" newBidSchedule.leavemap.length>0" (click)="viewVacationSlot()" size="12" class="app-white-background-color app-font-mercurius-secondary-color data ion-text-center app-border-mercurius-secondary-color" >
      <ion-label   class=" app-font-mercurius-secondary-color data">Vacation Slots (<b>{{newBidSchedule.leavemap.length }}</b>)</ion-label>
    </ion-col>
    <ion-col  *ngIf=" newBidSchedule.leavemap.length>0 && totalHours>0"  size="12" class="data" style="margin-top: 10px;">
      <ion-label>Total Vacation Opportunities:<b class="font-normal" *ngIf="totalHours>0;else elseSlots"> {{totalHours}} Hours</b><ng-template  #elseSlots><b class="font-normal"> {{totalHours}} Hour</b></ng-template></ion-label>
    </ion-col>
</ion-row>

</ion-grid>
  <!-- Bid Rounds -->
  <ion-grid  style="background-color: rgb(236, 234, 234);padding: 10px;margin:5px;height: 150px;">
    <ion-row>
      <ion-col size="11">

   <div style="float: left;"> <ion-label id="input-title" position="stacked" class="data app-font-primary-color" >Bid Rounds
    </ion-label>
  </div><div *ngIf="checkForViewBidSchedule=='new' " (click)="checkDataForBidRounds()" style="float: left;margin-left: 5px;margin-top: 2px;padding:2px" class="app-background-mercurius-secondary-color app-font-white-color " >
    <b style="font-weight: normal;" >
      <ion-icon name="arrow-forward-circle" style="font-size: 18px;"></ion-icon></b>
  </div>
  <div *ngIf="checkForViewBidSchedule=='view'  " style="float: left;margin-left: 5px;margin-top: 2px;padding:2px;opacity: 0.5;" class="app-background-mercurius-secondary-color app-font-white-color " >
    <b style="font-weight: normal;" >
      <ion-icon name="arrow-forward-circle" style="font-size: 18px;"></ion-icon></b>
  </div>
    </ion-col>
    <ion-col size="1" style="padding-top: 12px auto !important;padding-bottom:12px  auto !important;">
      <ion-label *ngIf="newBidSchedule!= null && newBidSchedule.roundmap.length>0 ">
        <ion-icon class=" app-font-mercurius-secondary-color " style="font-size: 18px;"  name="checkmark-outline"></ion-icon>
      </ion-label>
  </ion-col>
    </ion-row>
    <ion-row style="margin-top: 10px;" *ngIf="newBidSchedule!= null && newBidSchedule.roundmap.length>0 ">
      <ion-col (click)="viewBidRoundList()" size="12" class="app-white-background-color app-font-mercurius-secondary-color data ion-text-center app-border-mercurius-secondary-color" >
        <ion-label   class=" app-font-mercurius-secondary-color data">Bid Rounds (<b>{{newBidSchedule.roundmap.length }}</b>)</ion-label>
      </ion-col>
      <ion-col size="12">
        <div class="content-data app-font-red-color" style="text-align: left;" *ngIf=" checkPastTimeAndDate==true && checkForViewBidSchedule=='new'" >
          <p class="app-font-red-color"><ion-icon name="alert-circle-outline"></ion-icon>You have entered {{checkPastTimeOrDateOne}} in the past. Please select a future {{checkPastTimeOrDateTwo}}.!</p>
      </div>
      </ion-col>
  </ion-row>
</ion-grid>
<ion-row style="margin-top: 10px;">

    <ion-col size="12" class="ion-text-center">
    <ion-button shape="round" style="width: 70%;" *ngIf="checkForViewBidSchedule=='new'"  [disabled]="checkBidScheduleData==false || checkPastTimeAndDate==true" class="app-button-primary"  (click)="continue()">Save Bid Schedule</ion-button>
    <ion-button shape="round" style="width: 70%;" *ngIf="checkForViewBidSchedule!='new'"  [disabled]="true " class="app-button-primary"  (click)="continue()">Save Bid Schedule</ion-button>
  </ion-col>

</ion-row>
</ion-grid>
