
<ion-content  id="content "  overflow-scroll="true" style="--position: fixed;">
  <form [formGroup]="loginForm"  style="min-height: 100%;position: fixed;">
      <ion-grid style="z-index: -1;position: absolute;width: 100%;" class="ion-text-center">
        <ion-row class="ion-justify-content-center ion-text-center" >
          <ion-col size="12" class="ion-text-center" >
            <ion-img class="app-header-logo"  src="assets/img/mercurius-logo.png"></ion-img>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid  style="z-index: 1;">
        <ion-row  class="ion-justify-content-center straightline-font-size ion-no-padding-bottom ion-no-margin-bottom" id="title-straightline" >
          <ion-label class="app-title " style="font-weight: bolder !important;">StraightLines</ion-label>
          <ion-label class="content-data-14px ">Every Employee Deserves Desirable Moves</ion-label>
        </ion-row>
      </ion-grid>
  <ion-grid style="margin-bottom: 0% !important;">
    <div style=" position: relative;margin: 0% !important;padding: 0% !important;">
        <ion-img id="home-image"  src="assets/img/home.png" ></ion-img>
        <ion-row  class="  text-i">
          <ion-col size="12" class="ion-text-center">
            <ion-label class="ion-text-center home-img-text app-title " style="color: white;font-weight: bold;line-height: 1;">WE DO<br> YOUR<br> BIDDING</ion-label>
          </ion-col>
        </ion-row>

  </div>
    <ion-grid  >
        <ion-row id="login-form" class=" content-data app-font-primary-color  ion-no-margin ion-no-padding">
          <ion-col size="1"></ion-col>
          <ion-col size="10" class="app-font-primary-color ion-no-padding ion-no-margin">
          <ion-item lines="none" id="register-input-ion-item" class="app-font-primary-color  ion-justify-content-center" >
          <ion-row style="width: 100%;" class="ion-no-padding ion-no-margin">
            <ion-col class="ion-no-padding ion-no-margin" size="12" style="width: 100%;">
            <ion-input type="text" placeholder="Username"  (focusout)="usernameFocusOut()" formControlName="username"  class="form-control app-font-primary-color   ion-no-margin ion-no-padding" style="border-radius: 5px;height: 30px;width: 100% !important;"></ion-input>
          </ion-col>
          <ion-col class="ion-no-padding ion-no-margin" *ngIf="emailValid" size="12" style="width: 100%;">
            <!-- <div *ngIf="emailValid"> -->
              <p class="app-font-red-color content-data" style="margin-bottom: 0%;padding-bottom:0%" *ngIf="emailValid"><ion-icon name="alert-circle-outline"></ion-icon> Invalid username!!</p>
            <!-- </div> -->
          </ion-col>
        </ion-row>


        </ion-item>

        </ion-col>
        <ion-col size="1">
        </ion-col>
        <ion-col size="10.5" class="ion-justify-content-center straightline-font-size ion-no-padding ion-no-margin "  style="text-align: right;">
          <ion-label class="app-font-primary-color content-data-14px ion-no-padding ion-no-margin"><ion-checkbox style="--size:14px" formControlName="remberMe" ></ion-checkbox> Remember Username </ion-label>
        </ion-col>
        <ion-col size="1.5"></ion-col>
    </ion-row>
    <ion-row >
          <ion-col size="1"></ion-col>
          <ion-col size="10" class="ion-no-padding ion-no-margin">
            <ion-item lines="none"  class="app-font-primary-color ion-justify-content-center ion-no-margin"  >
              <ion-row style="width: 100%;" class="ion-no-padding ion-no-margin">
              <ion-col class="ion-no-padding ion-no-margin" size="12" style="width: 100%;">
                <ion-input type="text" placeholder="Password" class="form-control ion-no-margin"  (ionChange)="passwordChange()"  formControlName="password" [class]="passWordClass(classId) "  style="border-radius: 5px;position: relative;z-index: -1;height: 30px;border: 1px solid lightgray;margin: 0px !important;"></ion-input>
                <ion-icon *ngIf="hidePassword" class="app-font-primary-color" style="position:absolute; right:6%;font-size: 20px;bottom: 10px;z-index: 1;" (click)="passWord()"  name="eye-off-outline"></ion-icon>
                <ion-icon *ngIf="!hidePassword" class="app-font-primary-color" style="position:absolute; right:6%;font-size: 20px;bottom: 10px;z-index: 1;" (click)="passWord()" name="eye-outline"></ion-icon>
              </ion-col>
              <ion-col class="ion-no-padding ion-no-margin" size="12" style="width: 100%;">
                <p class="app-font-red-color content-data" style="margin-bottom: -2%;padding-bottom:0%" *ngIf="invalid_email_password"><ion-icon name="alert-circle-outline"></ion-icon> Invalid username or password!!</p>
              </ion-col>
              </ion-row>
          </ion-item>

      </ion-col><ion-col size="1"></ion-col>
      </ion-row>

      <ion-row  id="sign-up" class="ion-justify-content-center straightline-font-size ion-no-padding-bottom ion-no-margin-bottom" >
        <p class="app-font-primary-color content-data-14px " >Don't have an account? <b (click)="signUp()">Sign Up</b></p>
      </ion-row>
      <ion-row  class="ion-justify-content-center">
        <ion-button shape="round"  class="app-button-primary" id="sign-in"  (click)="signIn()" >Sign In</ion-button>
      </ion-row>
      <ion-row  id="user-pass" class="ion-justify-content-center straightline-font-size ion-no-padding-bottom ion-no-margin-bottom"  >
        <p class="app-font-primary-color content-data-14px " (click)="passwordReset()" >Forgot Username or Password? </p>
      </ion-row>
</ion-grid>


</ion-grid>

<!-- <ion-grid   id="triangle-up-left" style="margin-bottom: -1px !important;bottom: 0 !important;box-shadow: none;border: none !important;border-style: none !important;;"> -->
  <ion-grid  style="padding-left: 3%;font-size: 14px;margin-bottom: 0%;">
    <ion-row (click)="video()" class="content-data ion-no-margin ion-no-padding" id="info" style="font-size: 14px;">
      <ion-col size="12" class="ion-text-center"><ion-label><u>What is Straightlines?</u></ion-label></ion-col>
    </ion-row>
    <ion-row  class=" content-data ion-no-margin ion-no-padding" id="feedback" style="font-size: 14px;"
                (click)="onClickFeedback()">
         <ion-col size="12" class="ion-text-center"> <ion-label><u>Send  Feedback </u></ion-label><ion-icon style="color: white;height: 16px;margin-left: 1%;" name="mail-outline"></ion-icon>
         </ion-col>
              </ion-row>

</ion-grid>

</form>

</ion-content>
