<ion-content>
  <!-- <div class="container ion-text-center" style="width: 100%;">
    <ion-img id="home-page-header mercurius-logo " style="
      height: 10%;
      width: 10%;
      text-align: center;
      margin-top: 60%;
    " class="ion-no-padding ion-no-margin" src="assets/img/mercurius-logo.png"></ion-img>
  </div> -->

  <ion-grid class="ion-text-center">
    <ion-row style="text-align: center;justify-content: center;">
      <!-- <ion-img id="home-page-header mercurius-logo " style="
      height: 25%;
      width: 25%;
      text-align: center;
      margin-top: 60%;
    " class="ion-no-padding ion-no-margin rotate-center" src="assets/img/mercurius-logo.png"></ion-img> -->
<ion-img id="home-page-header  " style="

text-align: center;
margin-top: 60%;
" class="ion-no-padding ion-no-margin " src="assets/img/logo.gif"></ion-img>

    </ion-row>
  </ion-grid>
  </ion-content>
