<ion-content>
<ion-grid id="all-shift-list-card" class=" app-font-primary-color   ion-no-margin" style="margin:0px 5px 5px 5px;padding-top: 10px;height: 100%;overflow-y: scroll;">
  <ion-grid>
    <ion-row class="content-data ion-no-margin ion-no-padding">
      <ion-col size="12" class="app-font-primary-color ion-text-center "><b>BID SHIFTLINES</b></ion-col>
      <!-- <ion-col size="12" class=" ion-text-center ion-no-margin ion-no-padding"><b>{{current_shift_line_schedule}}</b></ion-col>
      <ion-col size="12" class=" ion-text-center ion-no-margin ion-no-padding">{{current_shift_line_schedule_startDate | date:'MMM d, y'}} - {{current_shift_line_schedule_endDate | date:'MMM d, y'}}</ion-col> -->
    </ion-row>
  </ion-grid>

  <!-- <ion-row class="data ion-no-margin ion-no-padding">
    <ion-col size="12" class="ion-no-margin ion-no-padding" style="text-align: right;">
      <ion-label style="color: rgb(178, 168, 168);"><i>Tap on Rounds to view details.</i></ion-label>
    </ion-col>
</ion-row>
  <ion-row class="content-data ion-no-margin ion-no-padding">
    <ion-grid  style="overflow-x: scroll;overflow: hidden;">
        <div class="scrollmenu">
            <ion-label [class]="getIndicatorClass(i)" *ngFor="let all_SBP_rounds of all_SBP_rounds;let i=index" (click)="displayRoundData(all_SBP_rounds,i)">Round {{i + 1}}</ion-label>
        </div>
      </ion-grid>
</ion-row> -->
  <ion-grid>
    <ion-row class="content-data ">
      <ion-col size="12" class="app-font-primary-color  "><b>Shiftlines Schedule to Bid</b></ion-col>
      <!-- <ion-col size="12" class=" ion-text-center ion-no-margin ion-no-padding"><b>{{current_shift_line_schedule}}</b></ion-col>
      <ion-col size="12" class=" ion-text-center ion-no-margin ion-no-padding">{{current_shift_line_schedule_startDate | date:'MMM d, y'}} - {{current_shift_line_schedule_endDate | date:'MMM d, y'}}</ion-col> -->
    </ion-row>
  </ion-grid>


  <ion-grid *ngFor="let selectedSchedule of all_final_data;let j=index" class="ion-no-margin ion-no-padding">
<ion-row id="targetBlock{{j}}"  class="ion-no-padding ion-no-margin">
  <ion-col size="1.5" class="ion-no-margin ion-no-padding" >
    <div style="width: 100%;height: 100%;" >
      <div class="data circleNumber app-background-mercurius-secondary-color" >
        {{j+1}}
      </div>
    <div class="vertical-line" *ngIf="all_final_data.length!=(j+1)">

  </div>

</div>
  </ion-col>
  <ion-col size="10.5" class=" ion-no-margin ion-no-padding">



    <ion-row   (click)="checkShiftLineSchedule(j,selectedSchedule)"  class="  data ion-no-padding ion-no-margin" style="padding-bottom: 10px;">
      <ion-col size="11" class="ion-no-margin">
        <ion-label><b  style="font-weight: bolder;">Shiftline Schedule</b></ion-label><br>
         <ion-label>  {{selectedSchedule.schedulename}} ({{selectedSchedule.shiftlineLength}} - Shiftlines)</ion-label><br>
         <ion-label>  {{dateFormat(selectedSchedule.bidschedulestartdate)|date:'MMM dd, y'}} - {{dateFormat(selectedSchedule.bidscheduleenddate)|date:'MMM dd, y'}}</ion-label><br>
         <ion-label *ngIf="checkSelectedEmpShiftLine(selectedSchedule.schedulename)==true && expand_id!=j" > Selected Shiftline: <b  class="app-font-mercurius-secondary-color">{{getEmpSelectedShiftlines(selectedSchedule)}}</b></ion-label>
      </ion-col>
      <ion-col size="1" >
        <!-- <ion-col size="1" style="padding-top: 12px;" > -->
        <ion-label  >
          <ion-icon  *ngIf="expand_id!=j"  class="app-font-mercurius-secondary-color" style="font-size: large;"  name="add-outline"></ion-icon>
          <ion-icon  *ngIf="expand_id==j"  class="app-font-mercurius-secondary-color" style="font-size: large;" name="remove-outline"></ion-icon>
        </ion-label>
      </ion-col>
      </ion-row>
      <mat-divider  style="border-bottom-width: 1px;width: 100%;" ></mat-divider>
    </ion-col>

  </ion-row>
  <ion-grid>
  <ion-grid *ngIf="expand_id==j"  [class]="myAnimateclass(j)"  style="padding: 0%;margin: 0%;">
    <ion-slides loop="false" pager="false" [options]="slideOption" style="padding-bottom: -10px !important;"  >
      <ion-slide [class]="expandlistSlide(i)"   *ngFor="let sL of all_selected_schedule_shift_lines;let i=index;" style="--inner-padding:0px !important;--padding:0px !important">
    <ion-grid   class="app-background-mercurius-secondary-color  ion-no-margin ion-no-padding ion-border-1px-ligth-gray-color" style="padding:5px 0px 0px 0px;margin:0px;border:1px solid lightgray;">
        <ion-item lines="none"  id="target{{i}}" [class]="expandlist(i)" style="--inner-padding-start:0px !important;--inner-padding-start:0px !important;--padding-start:0px !important;--inner-padding-end:0px !important">
          <ion-row class="data  ion-no-margin ion-no-padding " style="width: 100%;">
            <ion-col size="11" class="ion-no-margin ion-no-padding ">
              <ion-row class="ion-no-margin ion-no-padding ">
                <ion-col class="data ion-no-margin ion-no-padding  app-font-primary-color"  size="1" style="width: 100%;" ></ion-col>
                <ion-col class="data ion-no-margin ion-no-padding  app-font-primary-color"  size="4" style="width: 100%;" ><b>ShiftLine</b></ion-col>
                <ion-col class="data ion-no-margin ion-no-padding  app-font-primary-color"  size="4" style="width: 100%;" ><b>Pattern</b></ion-col>
                <ion-col class="data ion-no-margin ion-no-padding  app-font-primary-color"  size="3" style="width: 100%;"  ><b *ngIf="sL.selectedBy!==''">Selected By</b></ion-col>
                <ion-col class="data ion-no-margin ion-no-padding"  size="1" style="width: 100%;" ></ion-col>
                <ion-col class="data ion-no-margin ion-no-padding"  size="4" style="width: 100%;" >{{sL.shiftname}} - {{sL.edit_seq_id+1}}</ion-col>
                <ion-col class="data ion-no-margin ion-no-padding"  size="4" style="width: 100%;" >{{sL.pattern}}</ion-col>
                <ion-col class="data ion-no-margin ion-no-padding app-font-mercurius-secondary-color ion-text-center"  size="3" style="width: 100%;" ><b *ngIf="sL.selectedBy!==''">{{sL.selectedBy}}</b></ion-col>
              </ion-row>

            </ion-col>
            <ion-col (click)="expand(i)" size="1" class="ion-no-margin ion-no-padding ">
              <ion-col class="data ion-no-margin-top ion-no-margin-bottom ion-no-padding-top ion-no-padding-bottom  app-font-primary-color"  style="width: 100%;margin:auto;padding: auto;" ><b><ion-icon  class="app-font-primary-color" name="chevron-down-outline" style="margin-top:10px;font-size: 14px;"></ion-icon></b></ion-col>
            </ion-col>
            <ion-grid class="ion-border-1px-ligth-gray-color" style="background-color: rgb(230, 230, 230);margin-left: 0px;margin-right: 0px;">
              <ion-row class="ion-text-center">
            <ion-col class="data ion-no-margin ion-no-padding  app-font-primary-color"  size="1.7" style="width: 100%;" ><b>Sun</b></ion-col>
            <ion-col class="data ion-no-margin ion-no-padding  app-font-primary-color"  size="1.7" style="width: 100%;" ><b>Mon</b></ion-col>
            <ion-col class="data ion-no-margin ion-no-padding  app-font-primary-color"  size="1.7" style="width: 100%;" ><b>Tue</b></ion-col>
            <ion-col class="data ion-no-margin ion-no-padding  app-font-primary-color"  size="1.7" style="width: 100%;" ><b>Wed</b></ion-col>
            <ion-col class="data ion-no-margin ion-no-padding  app-font-primary-color"  size="1.7" style="width: 100%;" ><b>Thu</b></ion-col>
            <ion-col class="data ion-no-margin ion-no-padding  app-font-primary-color"  size="1.7" style="width: 100%;" ><b>Fri</b></ion-col>
            <ion-col class="data ion-no-margin ion-no-padding  app-font-primary-color"  size="1.7" style="width: 100%;" ><b>Sat</b></ion-col>
            <ion-col size="0.15" style="width: 100%;"></ion-col>
            <ion-col class="data ion-no-margin "  size="1.4" style="width: 100%;" ><div class="app-white-background-color ion-border-1px-ligth-gray-color ion-border-radius-5px">{{convertNineHourShiftLineIncorrectFormat(sL.sun,sL.shiftdurationc)}}</div></ion-col>
            <ion-col size="0.3" style="width: 100%;"></ion-col>
            <ion-col class="data ion-no-margin "  size="1.4" style="width: 100%;" ><div class="app-white-background-color ion-border-1px-ligth-gray-color ion-border-radius-5px">{{convertNineHourShiftLineIncorrectFormat(sL.mon,sL.shiftdurationc)}}</div></ion-col>
            <ion-col size="0.3" style="width: 100%;"></ion-col>
            <ion-col class="data ion-no-margin "  size="1.4" style="width: 100%;" ><div class="app-white-background-color ion-border-1px-ligth-gray-color ion-border-radius-5px">{{convertNineHourShiftLineIncorrectFormat(sL.tue,sL.shiftdurationc)}}</div></ion-col>
            <ion-col size="0.3" style="width: 100%;"></ion-col>
            <ion-col class="data ion-no-margin "  size="1.4" style="width: 100%;" ><div class="app-white-background-color ion-border-1px-ligth-gray-color ion-border-radius-5px">{{convertNineHourShiftLineIncorrectFormat(sL.wed,sL.shiftdurationc)}}</div></ion-col>
            <ion-col size="0.3" style="width: 100%;"></ion-col>
            <ion-col class="data ion-no-margin "  size="1.4" style="width: 100%;" ><div class="app-white-background-color ion-border-1px-ligth-gray-color ion-border-radius-5px">{{convertNineHourShiftLineIncorrectFormat(sL.thu,sL.shiftdurationc)}}</div></ion-col>
            <ion-col size="0.3" style="width: 100%;"></ion-col>
            <ion-col class="data ion-no-margin "  size="1.4" style="width: 100%;" ><div class="app-white-background-color ion-border-1px-ligth-gray-color ion-border-radius-5px">{{convertNineHourShiftLineIncorrectFormat(sL.fri,sL.shiftdurationc)}}</div></ion-col>
            <ion-col size="0.3" style="width: 100%;"></ion-col>
            <ion-col class="data ion-no-margin "  size="1.4" style="width: 100%;" ><div class="app-white-background-color ion-border-1px-ligth-gray-color ion-border-radius-5px">{{convertNineHourShiftLineIncorrectFormat(sL.sat,sL.shiftdurationc)}}</div></ion-col>
            <ion-col size="0.15" style="width: 100%;"></ion-col>
            <ion-col *ngIf="sL.shiftdurationc==9" size="0.15" style="width: 100%;margin-top: 3px;"></ion-col>
            <ion-col *ngIf="sL.shiftdurationc==9" class="data ion-no-margin "  size="1.4" style="width: 100%;margin-top: 3px;" ><div class="app-white-background-color ion-border-1px-ligth-gray-color ion-border-radius-5px">{{convertNineHourShiftLineIncorrectFormat(sL.sunshift2,sL.shiftdurationc)}}</div></ion-col>
            <ion-col *ngIf="sL.shiftdurationc==9" size="0.3" style="width: 100%;"></ion-col>
            <ion-col *ngIf="sL.shiftdurationc==9" class="data ion-no-margin "  size="1.4" style="width: 100%;margin-top: 3px;" ><div class="app-white-background-color ion-border-1px-ligth-gray-color ion-border-radius-5px">{{convertNineHourShiftLineIncorrectFormat(sL.monshift2,sL.shiftdurationc)}}</div></ion-col>
            <ion-col *ngIf="sL.shiftdurationc==9" size="0.3" style="width: 100%;"></ion-col>
            <ion-col *ngIf="sL.shiftdurationc==9" class="data ion-no-margin "  size="1.4" style="width: 100%;margin-top: 3px;" ><div class="app-white-background-color ion-border-1px-ligth-gray-color ion-border-radius-5px">{{convertNineHourShiftLineIncorrectFormat(sL.tueshift2,sL.shiftdurationc)}}</div></ion-col>
            <ion-col *ngIf="sL.shiftdurationc==9" size="0.3" style="width: 100%;"></ion-col>
            <ion-col *ngIf="sL.shiftdurationc==9" class="data ion-no-margin "  size="1.4" style="width: 100%;margin-top: 3px;" ><div class="app-white-background-color ion-border-1px-ligth-gray-color ion-border-radius-5px">{{convertNineHourShiftLineIncorrectFormat(sL.wedshift2,sL.shiftdurationc)}}</div></ion-col>
            <ion-col *ngIf="sL.shiftdurationc==9" size="0.3" style="width: 100%;"></ion-col>
            <ion-col *ngIf="sL.shiftdurationc==9" class="data ion-no-margin "  size="1.4" style="width: 100%;margin-top: 3px;" ><div class="app-white-background-color ion-border-1px-ligth-gray-color ion-border-radius-5px">{{convertNineHourShiftLineIncorrectFormat(sL.thushift2,sL.shiftdurationc)}}</div></ion-col>
            <ion-col *ngIf="sL.shiftdurationc==9" size="0.3" style="width: 100%;"></ion-col>
            <ion-col *ngIf="sL.shiftdurationc==9" class="data ion-no-margin "  size="1.4" style="width: 100%;margin-top: 3px;" ><div class="app-white-background-color ion-border-1px-ligth-gray-color ion-border-radius-5px">{{convertNineHourShiftLineIncorrectFormat(sL.frishift2,sL.shiftdurationc)}}</div></ion-col>
            <ion-col *ngIf="sL.shiftdurationc==9" size="0.3" style="width: 100%;"></ion-col>
            <ion-col *ngIf="sL.shiftdurationc==9" class="data ion-no-margin "  size="1.4" style="width: 100%;margin-top: 3px;" ><div class="app-white-background-color ion-border-1px-ligth-gray-color ion-border-radius-5px">{{convertNineHourShiftLineIncorrectFormat(sL.satshift2,sL.shiftdurationc)}}</div></ion-col>
            <ion-col *ngIf="sL.shiftdurationc==9" size="0.15" style="width: 100%;"></ion-col>
            <!-- <ion-col (click)="selectShiftLine(sL,i)" *ngIf="sL.bidstatus=='Eligible' && checkValidationForSelectShiftLine==false"  style="border-radius: 25%;" class="data ion-no-margin  " style="margin-top: 5px;" size="12"> -->
              <ion-col (click)="selectShiftLine(sL,i)" *ngIf="sL.bidstatus=='Eligible'"  style="border-radius: 25%;" class="data ion-no-margin  " style="margin-top: 5px;" size="12">
              <div style="height: 100%;width: 100%;padding: 7px;border-radius:25px ;" class="app-background-mercurius-secondary-color ion-text-center"><ion-label class="font-size-18px"><b style="font-size:15px;">Select this Shiftline</b></ion-label></div>
            </ion-col>
            <ion-col *ngIf="sL.bidstatus=='Completed' "  style="border-radius: 25%;" class="data ion-no-margin  " style="margin-top: 5px;" size="12">
              <!-- <ion-col *ngIf="sL.bidstatus=='Completed' || checkValidationForSelectShiftLine==true"  style="border-radius: 25%;" class="data ion-no-margin  " style="margin-top: 5px;" size="12"> -->
              <div style="height: 100%;width: 100%;padding: 7px;border-radius:25px ;background-color: rgb(239,102,55,0.7);color: white;" class=" ion-text-center"><ion-label class="font-size-18px"><b style="font-size:15px;">Select this Shiftline</b></ion-label></div>
            </ion-col>
          </ion-row>
          </ion-grid>
          </ion-row>
        </ion-item>
        <mat-divider  style="border-bottom-width: 1px;width: 100%;" ></mat-divider>
        </ion-grid>
</ion-slide>
</ion-slides>
    </ion-grid>

  </ion-grid>
  </ion-grid>
</ion-grid>
</ion-content>
  <ion-grid [ngClass]="myAnimateClassButton"  id="footer"  *ngIf="checkAllShiftLineSelected==true ||bottomSpinner==true" style="background: #fff;padding-top: 1px;" >
    <ion-row class="ion-no-margin ion-no-padding">
      <ion-col size="12" class="ion-text-center">
        <ion-spinner name="bubbles" *ngIf="bottomSpinner==true"></ion-spinner>
        <ion-button shape="round" *ngIf="checkAllShiftLineSelected==true"  class="app-button-primary" (click)="next()" >Continue</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
