<ion-content  (activate)="onActivate($event)" (click)="disablePopup()">
<ion-grid class="ion-text-center" *ngIf="spinner === true">
  <ion-row>
    <ion-col size="12">
      <ion-spinner name="bubbles"></ion-spinner>
    </ion-col>
  </ion-row>

</ion-grid>
<ion-grid class="ion-no-padding ion-no-margin" >

<ion-grid   style="position: relative;" class="data" *ngIf=" all_SBP_rounds.length>0;else elseBlock">
  <ion-row class="content-data" style="padding: 5px 0px 5px 0px;">
    <ion-col size="1"></ion-col>
    <ion-col size="10" class="app-font-primary-color ion-text-center "><b style="font-weight: bolder;margin-right: 5px;">Bid Schedule:</b> {{bid_schedulename}}</ion-col>

   <!-- <ion-col size="12" class="app-font-primary-color ion-text-center ion-no-margin ion-no-padding"><b>SHIFTLINES SCHEDULE</b></ion-col> -->
   <ion-col size="1">
    <ion-icon style="font-size: 18px;" (click)="export()" class="app-font-mercurius-secondary-color" name="download-outline"></ion-icon>
  </ion-col>
 </ion-row>
   <ion-row class="ion-no-padding ion-no-margin">

    <ion-grid  class="ion-no-padding ion-no-margin" style="overflow-x: scroll;overflow: hidden;">
<ion-slides  [options]="slideOption" style="padding-bottom: 2px;margin-bottom: 2px;">
  <ion-slide [class]="getIndicatorClass(i)" *ngFor="let all_SBP_rounds of all_SBP_rounds;let i=index" (click)="displayRoundData(all_SBP_rounds,all_SBP_rounds.roundseq_id)" style="padding:5px"><b class="font-normal" *ngIf="i==0">All</b><b class="font-normal" *ngIf="i!=0">Round {{i}}</b></ion-slide>
</ion-slides>
        <!-- <div class="scrollmenu" >
            <ion-label [class]="getIndicatorClass(i)" *ngFor="let all_SBP_rounds of all_SBP_rounds;let i=index" (click)="displayRoundData(all_SBP_rounds,all_SBP_rounds.roundseq_id)"><b class="font-normal" *ngIf="i==0">All</b><b class="font-normal" *ngIf="i!=0">Round {{i}}</b></ion-label>
        </div> -->
      </ion-grid>
</ion-row>




<ion-grid  *ngIf="spinner === false" class="ion-text-center" style="height: 350px;overflow: hidden;overflow-y: scroll;margin-top: 10px;">
  <ion-grid  *ngFor="let month of currentSource">
    <ion-row class="data ion-text-center font-size-14px">
      <ion-col size="12">
        <b>{{month[15].startTime|date:'MMMM YYYY'}}</b>
      </ion-col>
      </ion-row>
    <ion-row   class=" data ion-no-margin ion-no-padding ">
      <ion-col class="ion-no-margin ion-no-padding app-background-mercurius-primary-color" size="1.7">
        <!-- <ion-label > -->
       <b>   S</b>
        <!-- </ion-label> -->
      </ion-col>
      <ion-col class="ion-no-margin ion-no-padding app-background-mercurius-primary-color" size="1.7">
        <!-- <ion-label > -->
       <b>   M</b>
        <!-- </ion-label> -->
      </ion-col>
      <ion-col class="ion-no-margin ion-no-padding app-background-mercurius-primary-color" size="1.7">
        <!-- <ion-label > -->
         <b> T</b>
        <!-- </ion-label> -->
      </ion-col>
      <ion-col class="ion-no-margin ion-no-padding app-background-mercurius-primary-color" size="1.7">
        <!-- <ion-label > -->
          <b>W</b>
        <!-- </ion-label> -->
      </ion-col>
      <ion-col class="ion-no-margin ion-no-padding app-background-mercurius-primary-color" size="1.7">
        <!-- <ion-label > -->
      <b>    T</b>
        <!-- </ion-label> -->
      </ion-col>
      <ion-col class="ion-no-margin ion-no-padding app-background-mercurius-primary-color" size="1.7">
        <!-- <ion-label > -->
         <b> F</b>
        <!-- </ion-label> -->
      </ion-col>
      <ion-col class="ion-no-margin ion-no-padding app-background-mercurius-primary-color" size="1.7">
        <!-- <ion-label > -->
        <b>  S</b>
        <!-- </ion-label> -->
      </ion-col>
      <!-- <ion-col size="0.1"></ion-col> -->
    </ion-row>
    <ion-row  class="ion-no-margin ion-no-padding data">
    <ion-col (click)="selectDate(da)" size="1.7" class=" ss ion-no-margin ion-no-padding"   *ngFor="let da of month" style="border: 1px solid lightgray;">
      <!-- RDO -->
      <ion-grid class="" *ngIf="da!=undefined "  class="ion-no-margin ion-no-padding">
          <ion-grid *ngIf="da.title=='rdo'" class="sat-sun ion-no-margin">

          <ion-row class="" style="padding-bottom: 3.5px;" *ngIf="!(tempSelectedDate!=null&&da.selected!==true  && da===tempSelectedDate)&&da.selected!==true"><div style="padding-top: 5px;padding-bottom: 5px;">{{da.startTime| date:'d'}}</div></ion-row>
          <ion-row class="" style="padding-bottom: 3.5px;" *ngIf="da.selected===true"><div [class]="cssClassDouble()" >{{da.startTime| date:'d'}}</div></ion-row>
          <ion-row class="" style="padding-bottom: 3.5px;" *ngIf="tempSelectedDate!=null&&da.selected!==true  && da===tempSelectedDate"><div [class]="cssClassSingle()" >{{da.startTime| date:'d'}}</div></ion-row>
          <ion-row  style="text-align: center;">
            <div style="font-size:10px;background-color: transparent;color:black;width: 14px;height: 16px;margin: auto;padding: auto;" *ngIf="da.slot === 0 && da.emp.length===0"> </div>
            <div style="border:0.5px solid lightgray;font-size:10px;background-color: white;color:black;width: 14px;height: 16px;margin: auto;padding: auto;" *ngIf="(da.slot + - +da.emp.length)>0"> {{da.slot - da.emp.length}}</div>
              <div style="font-size:10px;background-color: #ff6700;color:white;width: 14px;height: 16px;margin-left:4px;margin: auto;"  *ngIf="(da.slot + - +da.emp.length)>-1 && da.emp.length>0">{{da.emp.length}}</div>

              <div style="border:0.5px solid lightgray;font-size:10px;background-color: white;color:black;width: 14px;height: 16px;margin: auto;padding: auto;" *ngIf="(da.slot + - +da.emp.length)<0 && da.slot>0">{{da.slot }}</div>
              <div style="font-size:10px;background-color: #ff6700;color:white;width: 14px;height: 16px;margin-left:4px;margin: auto;"  *ngIf="(da.slot + - +da.emp.length)<0 ">{{da.emp.length}}</div>

        </ion-row>
          </ion-grid>
          <!-- Others -->
      <ion-grid class="ion-no-margin ion-no-padding selected-leave-background-color"  *ngIf="checkEmpExist(da.emp)==true;else bgBlock">
          <ion-grid *ngIf="da.title=='' && (da.slot + - +da.emp.length)>0" >
            <ion-row class="" style="padding-bottom: 3.5px;" *ngIf="conditionOne(da)"><div class="holiday"  *ngIf="conditionFour(da)">{{da.startTime| date:'d'}}</div><div class="regular-day" *ngIf="!conditionFour(da)">{{da.startTime| date:'d'}}</div></ion-row>
            <ion-row class="" style="padding-bottom: 3.5px;" *ngIf="conditionTwo(da)">
              <div class="holiday" *ngIf="checkConditionTwoDoubleCLick(da) && conditionFour(da)">{{da.startTime| date:'d'}}</div>
              <div class="double-click " *ngIf="checkConditionTwoDoubleCLick(da) && !conditionFour(da)">{{da.startTime| date:'d'}}</div>
              <div class="double-click-one" *ngIf="!checkConditionTwoDoubleCLick(da) && !conditionFour(da)">{{da.startTime| date:'d'}}</div>
              <div class="holiday" *ngIf="!checkConditionTwoDoubleCLick(da) && conditionFour(da)">{{da.startTime| date:'d'}}</div></ion-row>
            <ion-row class="" style="padding-bottom: 3.5px;" *ngIf="conditionThree(da)"><div [class]="cssClassSingle()" >{{da.startTime| date:'d'}}</div></ion-row>
          <ion-row  >
            <div style="font-size:10px;background-color: transparent;color:black;width: 14px;height: 16px;margin: auto;padding: auto;" *ngIf="da.slot === 0 && da.emp.length===0"> </div>
              <div style="border:0.5px solid lightgray;font-size:10px;background-color: white;color:black;width: 14px;height: 16px;margin: auto;padding: auto;" *ngIf="(da.slot + - +da.emp.length)>0 "> {{da.slot - da.emp.length}}</div>
              <div style="font-size:10px;background-color: #ff6700;color:white;width: 14px;height: 16px;margin-left:4px;margin: auto;"  *ngIf="(da.slot + - +da.emp.length)>-1 && da.emp.length>0">{{da.emp.length}}</div>

              <div style="border:0.5px solid lightgray;font-size:10px;background-color: white;color:black;width: 14px;height: 16px;margin: auto;padding: auto;" *ngIf="(da.slot + - +da.emp.length)<0 && da.slot>0">{{da.slot }}</div>
              <div style="font-size:10px;background-color: #ff6700;color:white;width: 14px;height: 16px;margin-left:4px;margin: auto;"  *ngIf="(da.slot + - +da.emp.length)<0 ">{{da.emp.length}}</div>

            </ion-row>
          </ion-grid>
        </ion-grid>
        <ng-template #bgBlock>
          <ion-grid class="ion-no-margin ion-no-padding" >
            <ion-grid *ngIf="da.title=='' && (da.slot + - +da.emp.length)>0" >
              <ion-row class="" style="padding-bottom: 3.5px;" *ngIf="conditionOne(da)"><div class="holiday"  *ngIf="conditionFour(da)">{{da.startTime| date:'d'}}</div><div class="regular-day" *ngIf="!conditionFour(da)">{{da.startTime| date:'d'}}</div></ion-row>
              <ion-row class="" style="padding-bottom: 3.5px;" *ngIf="conditionTwo(da)">
                <div class="holiday" *ngIf="checkConditionTwoDoubleCLick(da) && conditionFour(da)">{{da.startTime| date:'d'}}</div>
                <div class="double-click " *ngIf="checkConditionTwoDoubleCLick(da) && !conditionFour(da)">{{da.startTime| date:'d'}}</div>
                <div class="double-click-one" *ngIf="!checkConditionTwoDoubleCLick(da) && !conditionFour(da)">{{da.startTime| date:'d'}}</div>
                <div class="holiday" *ngIf="!checkConditionTwoDoubleCLick(da) && conditionFour(da)">{{da.startTime| date:'d'}}</div></ion-row>
              <ion-row class="" style="padding-bottom: 3.5px;" *ngIf="conditionThree(da)"><div [class]="cssClassSingle()" >{{da.startTime| date:'d'}}</div></ion-row>
            <ion-row  >
              <div style="font-size:10px;background-color: transparent;color:black;width: 14px;height: 16px;margin: auto;padding: auto;" *ngIf="da.slot === 0 && da.emp.length===0"> </div>
                <div style="border:0.5px solid lightgray;font-size:10px;background-color: white;color:black;width: 14px;height: 16px;margin: auto;padding: auto;" *ngIf="(da.slot + - +da.emp.length)>0 "> {{da.slot - da.emp.length}}</div>
                <div style="font-size:10px;background-color: #ff6700;color:white;width: 14px;height: 16px;margin-left:4px;margin: auto;"  *ngIf="(da.slot + - +da.emp.length)>-1 && da.emp.length>0">{{da.emp.length}}</div>

                <div style="border:0.5px solid lightgray;font-size:10px;background-color: white;color:black;width: 14px;height: 16px;margin: auto;padding: auto;" *ngIf="(da.slot + - +da.emp.length)<0 && da.slot>0">{{da.slot }}</div>
                <div style="font-size:10px;background-color: #ff6700;color:white;width: 14px;height: 16px;margin-left:4px;margin: auto;"  *ngIf="(da.slot + - +da.emp.length)<0 ">{{da.emp.length}}</div>

              </ion-row>
            </ion-grid>
          </ion-grid>
        </ng-template>
        <ion-grid class="ion-no-margin ion-no-padding selected-leave-background-color" *ngIf="checkEmpExist(da.emp)==true;else backgBlock">
          <ion-grid *ngIf="da.title=='' && (da.slot + - +da.emp.length)<1" >
            <ion-row class="" style="padding-bottom: 3.5px;" *ngIf="conditionOne(da)"><div class="holiday"  *ngIf="conditionFour(da)">{{da.startTime| date:'d'}}</div><div class="regular-day" *ngIf="!conditionFour(da)">{{da.startTime| date:'d'}}</div></ion-row>
            <ion-row class="" style="padding-bottom: 3.5px;" *ngIf="conditionTwo(da)">
              <div class="holiday" *ngIf="checkConditionTwoDoubleCLick(da) && conditionFour(da)">{{da.startTime| date:'d'}}</div>
              <div class="double-click " *ngIf="checkConditionTwoDoubleCLick(da) && !conditionFour(da)">{{da.startTime| date:'d'}}</div>
              <div class="double-click-one" *ngIf="!checkConditionTwoDoubleCLick(da) && !conditionFour(da)">{{da.startTime| date:'d'}}</div>
              <div class="holiday" *ngIf="!checkConditionTwoDoubleCLick(da) && conditionFour(da)">{{da.startTime| date:'d'}}</div></ion-row>
            <ion-row class="" style="padding-bottom: 3.5px;" *ngIf="conditionThree(da)"><div [class]="cssClassSingle()" >{{da.startTime| date:'d'}}</div></ion-row>
          <ion-row  >
              <div style="border:0.5px solid lightgray;font-size:10px;background-color: white;color:black;width: 14px;height: 16px;margin: auto;padding: auto;" *ngIf="(da.slot + - +da.emp.length)>0"> {{da.slot - da.emp.length}}</div>
              <div style="font-size:10px;background-color: #ff6700;color:white;width: 14px;height: 16px;margin-left:4px;margin: auto;"  *ngIf="(da.slot + - +da.emp.length)>-1 && da.emp.length>0">{{da.emp.length}}</div>

              <div style="border:0.5px solid lightgray;font-size:10px;background-color: white;color:black;width: 14px;height: 16px;margin: auto;padding: auto;" *ngIf="(da.slot + - +da.emp.length)<0 && da.slot>0">{{da.slot }}</div>
              <div style="font-size:10px;background-color: #ff6700;color:white;width: 14px;height: 16px;margin-left:4px;margin: auto;"  *ngIf="(da.slot + - +da.emp.length)<0 ">{{da.emp.length}}</div>

            </ion-row>
           </ion-grid>
          </ion-grid>
          <ng-template #backgBlock>
            <ion-grid *ngIf="da.title=='' && (da.slot + - +da.emp.length)<1" style="background-color:white;">
              <ion-row class="" style="padding-bottom: 3.5px;" *ngIf="conditionOne(da)"><div class="holiday"  *ngIf="conditionFour(da)">{{da.startTime| date:'d'}}</div><div class="regular-day" *ngIf="!conditionFour(da)">{{da.startTime| date:'d'}}</div></ion-row>
              <ion-row class="" style="padding-bottom: 3.5px;" *ngIf="conditionTwo(da)">
                <div class="holiday" *ngIf="checkConditionTwoDoubleCLick(da) && conditionFour(da)">{{da.startTime| date:'d'}}</div>
                <div class="double-click " *ngIf="checkConditionTwoDoubleCLick(da) && !conditionFour(da)">{{da.startTime| date:'d'}}</div>
                <div class="double-click-one" *ngIf="!checkConditionTwoDoubleCLick(da) && !conditionFour(da)">{{da.startTime| date:'d'}}</div>
                <div class="holiday" *ngIf="!checkConditionTwoDoubleCLick(da) && conditionFour(da)">{{da.startTime| date:'d'}}</div></ion-row>
              <ion-row class="" style="padding-bottom: 3.5px;" *ngIf="conditionThree(da)"><div [class]="cssClassSingle()" >{{da.startTime| date:'d'}}</div></ion-row>
            <ion-row  >
                <div style="border:0.5px solid lightgray;font-size:10px;background-color: white;color:black;width: 14px;height: 16px;margin: auto;padding: auto;" *ngIf="(da.slot + - +da.emp.length)>0"> {{da.slot - da.emp.length}}</div>
                <div style="font-size:10px;background-color: #ff6700;color:white;width: 14px;height: 16px;margin-left:4px;margin: auto;"  *ngIf="(da.slot + - +da.emp.length)>-1 && da.emp.length>0">{{da.emp.length}}</div>

                <div style="border:0.5px solid lightgray;font-size:10px;background-color: white;color:black;width: 14px;height: 16px;margin: auto;padding: auto;" *ngIf="(da.slot + - +da.emp.length)<0 && da.slot>0">{{da.slot }}</div>
                <div style="font-size:10px;background-color: #ff6700;color:white;width: 14px;height: 16px;margin-left:4px;margin: auto;"  *ngIf="(da.slot + - +da.emp.length)<0 ">{{da.emp.length}}</div>

              </ion-row>
             </ion-grid>
          </ng-template>
      </ion-grid>
      <ion-label *ngIf="da==undefined "  >
      </ion-label>
    </ion-col>

  </ion-row>
</ion-grid>
</ion-grid>










<ion-grid class="ion-no-padding-top ion-no-padding-bottom ion-no-margin-top   ion-no-margin-bottom">
  <ion-row class="ion-no-padding-top ion-no-padding-bottom ion-no-margin-top   ion-no-margin-bottom">
    <ion-col size="2"  (click)="myFunctionPopup()"   class=" popupEmp app-font-mercurius-secondary-color" style="vertical-align: middle;font-size: 20px;padding-top: 2px;">
      <b><ion-icon name="information-circle-outline"></ion-icon></b>
   <span class="popuptextEmp" id="myPopupEmp">
     <ion-row class="data" style="width: 100% !important;color: #fff;">
       <ion-col size="12" style="width: 100% !important;color: #fff;">Employee Name (Initials) - Seniority Rank</ion-col>
     </ion-row>
     </span></ion-col>
    <ion-col size="10" class="data text-align-right" style="padding-right: 10px;padding-top:5px" >
      <b style=" word-spacing: 10px;"><ion-icon name="square" style="color: lightgreen;"></ion-icon></b>
      <b style="font-weight: normal;margin-right: 15px;"> Selected  </b>
      <b style=" word-spacing: 10px;"><ion-icon name="square-outline" style="color: lightgray;"></ion-icon></b>
      <b style="font-weight: normal;margin-right: 15px;"> Available Slots  </b>
      <b style=" word-spacing: 10px;">  <ion-icon name="square" class="app-font-mercurius-secondary-color"></ion-icon></b> Filled Slots</ion-col>
  </ion-row>
</ion-grid>


</ion-grid>

<ng-template #elseBlock>
  <ion-grid>
    <ion-row>
      <ion-col size="12" class="ion-text-center data">
              <ion-label>Data Not Available</ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>
</ng-template>
<ion-grid *ngIf="selectedDateEmp.length>0 && checkSelectedDate==true">
  <ion-row class="ion-no-padding ion-no-margin" *ngFor="let sE of selectedDateEmp">
    <ion-col class="ion-no-padding ion-no-margin data" size="12"><ion-icon name="ellipse-outline" style="font-size: 10px;"></ion-icon>  {{sE.fname|titlecase}} {{sE.lname|titlecase}} ({{sE.initials| uppercase}}) - {{sE.rank}} </ion-col>
    <!-- <ion-col class="ion-no-padding ion-no-margin" size="0.2"></ion-col>
    <ion-col class="ion-no-padding ion-no-margin" size="11.8">Seniority Rank : <b></b></ion-col> -->
</ion-row>
</ion-grid>
<ion-grid  *ngIf="selectedDateEmp.length<1 ==true && checkSelectedDate==false" class="ion-no-margin ion-no-padding" >
  <ion-row class="ion-no-margin ion-no-padding ion-text-center">
    <ion-col size="12" class="data">
      <ion-label >No selection available </ion-label>
    </ion-col>

  </ion-row>
</ion-grid>


</ion-grid>
</ion-content>
